/* stile header */
.bar {
    background-color: rgb(78,160,255);
    background-image: url("../img/pattern.png");
    background-size: 450px auto;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 10px;
}
#logo {
    width: 200px;
    height: auto;
}

/* stile main titolo */
#titolo h1{
    font-size: 40px;
    margin-bottom: 1px;
}
#titolo div {
    margin-top: 3px;
    color: gray;
    margin-bottom: 25px;
}
#titolo span {
    color: rgb(78,160,255);
}
#titolo figure {
    margin-left: 3px;
    font-size: 12px;
}

/* stile main */
.sec-main {
    font-size: 18px;
}
.evidenziato{
    background-color: yellow;
}
#thead{
    background-color: rgb(32,169,229);
    color: white;
    text-align: left;
}
.pcolonna {
    width: 23%;
}
.scolonna {
    width: 23%;
}
.tcolonna {
    width: 50%;
}
#priga {
    background-color: rgb(177,229,242);
}
#triga {
    background-color: rgb(177,229,242);
}

/* stile footer */
.footer strong {
    color: gray;
}
.footer div {
    height: 150px;
    width: 180px;
}
#pimmagine{
    margin-top: 15px;
    background-image: url("../img/monitor.jpg");
    background-position: center;
    padding: 15px;
}
#simmagine{
    margin-top: 10px;
    background-image: url("../img/graph.jpg");
    background-position: center;
    padding: 15px;
}
#pimmagine strong{
    color: white;
    font-size: 18px;
}
#simmagine strong{
    color: white;
    font-size: 18px;
}